
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
html, body, canvas {
  width: 100%;
  height: 100%;
}
#start-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  background: #000000;
  background: url(images/background-cubed-darkened.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 2;
}
#start-screen h1 {
  font-size: 3em;
}
.start-flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-screen-hidden {
  display: none;
}
#start-button {
  width: 10em;
  height: 10em;
  margin-top: 2em;
  background: #005900;
  background: radial-gradient(#005900 30%, #fff);
  color: #fff;
  border-radius: 50%;
  border: 3px solid #000;
}
#start-button span {
  font-size: 2em;
  font-weight: bold;
  text-shadow:
    1px 1px 3px #000,
    -1px -1px 3px #000;
}
#start-button:hover {
  border-color: #fff;
}
#start-button:hover span {
  text-shadow:
    1px 1px 3px #fff,
    -1px -1px 3px #fff;
}
#controls-message {
  color: #ffffff;
  font-family: Monospace;
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.fullscreen-exit-button {
  position: absolute;
  top: 15;
  right: 15;
  background: rgba(0,0,0,0.5);
  font-size: 1.4em;
  color: #808080;
  border-radius: 5%;
  border: 2px solid #808080;
}
.fullscreen-button {
  color: #fff;
  border: 2px solid #fff;
}